<ion-content class="ion-padding">

  <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="editPermission">
    <ion-fab-button *ngIf="!editMode" (click)="editMode = true" title="Editar la información de la comunidad">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="editMode" (click)="putCommunity()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="false" color="secondary" [routerLink]="'/community/'+data.alias+'/message'" style="margin-top: 10px;" title="Enviar notificaciones a los usuarios">
      <ion-icon name="send-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngIf="data">
    <img *ngIf="data.picture" [src]="data.picture" style="width: 100%;">
    <ion-card-header *ngIf="!editMode">
      <ion-card-title>{{data.name}}</ion-card-title>
      <ion-card-subtitle>{{core.auth.user?'MK#'+data.mak3r_num+'@':''}}{{data.alias.replace('@','')}} <a *ngIf="data.alias.indexOf('@')>-1" [href]="'https://t.me/'+data.alias.replace('@','')">Telegram</a></ion-card-subtitle>
    </ion-card-header>
    <ion-card-header *ngIf="editMode">
      <ion-input [autocomplete]="'nope'" [(ngModel)]="data.name" placeholder="Nombre"></ion-input>
      <ion-input [autocomplete]="'nope'" [(ngModel)]="data.alias" placeholder="Alias"></ion-input>
    </ion-card-header>

    <ion-card-content style="white-space: pre-line;">
      <p *ngIf="!editMode" [innerHTML]="(data.description|linkify)||'La comunidad no ha proporcionado información adicional'"></p>
      <ion-textarea *ngIf="editMode" [(ngModel)]="data.description" placeholder="Descripción o información a mostrar"></ion-textarea>
    </ion-card-content>
  </ion-card>

</ion-content>