<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            Mak3rs Management
            <ion-button *ngIf="!core.env.production">BETA</ion-button>
          </ion-list-header>
          <ion-note>Community management app for mak3rs, by mak3rs 🎉</ion-note>

          <ion-item *ngIf="core.version.updatePending" color="warning" style="cursor:pointer; margin-bottom: 10px;" (click)="core.version.update()">
            <ion-icon name="refresh-outline"></ion-icon>
            <ion-label text-wrap style="margin-left: 7px;">
              No estás ejecutando la última versión de la aplicación, pulse aquí para actualizar
            </ion-label>
          </ion-item>

          <ng-container *ngIf="core.isLoggedIn && core.auth.user">
            <ion-item color="primary" style="margin-bottom: 10px;">
              <ion-icon slot="start" color="white" name="person-circle-outline"></ion-icon>
              <ion-label text-wrap color="white" style="font-weight: bold;">
                {{core.auth.user.name}}
              </ion-label>
            </ion-item>

            <hr/>
          </ng-container>

          <ng-container *ngFor="let p of appPages">
            <ion-menu-toggle auto-hide="false" *ngIf="p.requireLogin ? core.isLoggedIn:true">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>

          <ng-container *ngIf="!core.isLoggedIn">
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" routerLink="/login" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" ios="key-outline" md="key-sharp"></ion-icon>
                <ion-label>Iniciar sesión</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" routerLink="/register" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" ios="person-add-outline" md="person-add-sharp"></ion-icon>
                <ion-label>Register</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>

          <ion-menu-toggle auto-hide="false" *ngIf="core.isLoggedIn">
            <ion-item (click)="core.auth.logout()" [routerLink]="['login']" [queryParams]="{msg: 'logout'}" routerDirection="root" lines="none" detail="false">
              <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
              <ion-label>Cerrar sesión</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list style="padding-top: 0;">
          <ion-item lines="full">
            <ion-label>Modo oscuro</ion-label>
            <ion-toggle #darkModeToggle (ionChange)="toggleDark($event)"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Enlaces de interés</ion-list-header>

          <a *ngFor="let link of links" target="_blank" [href]="link.url">
            <ion-item lines="none">
              <ion-icon slot="start" name="link-outline"></ion-icon>
              <ion-label>{{ link.name }}</ion-label>
            </ion-item>
          </a>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
