<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Comunidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Comunidades</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="data">
    <ion-item *ngFor="let community of data.data" (click)="detail(community)" [style.cursor]="'pointer'">
      <ion-label>{{community.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
